region                  = "us-east-1"
tableName               = "expenses_categories"
stage                   = "dev"
codeBuildProjectName    = "codebuild-financial-control-api-project"
repositoryProvider      = "GitHub"
repositoryAccessToken   = "access-token-here"
repositoryOrganization  = "fecaps-org"
repositoryName          = "financial-control-api"
repositoryBranch        = "master"
accessKey               = "access-key"
secretKey               = "secret-key"
kinesisDataStream       = "expense_events"
snsName                 = "expense-notification"
phoneNumber             = "phone-here"
